<section id ="footer" class ="footer">
  <div class="container">
          <div class="row foot">
              <div class="col-md-2 menu">
                <h3>Menu</h3>
                  <a href ="#">Home</a><br>
                  <a href ="#">About Us</a><br>
                  <a href ="#">Product</a><br>
                  <a href ="#">Contact Us</a><br>
              </div>
              <div class="col-md-2 links">
                <h3>Links</h3>
                  <a href ="#">Distribution</a><br>
                  <a href ="#">Dealership</a><br>
                  <a href ="#">WhatsApp</a><br>
                  <a href ="#">Instagram</a><br>
                  <a href ="www.facebook.com/sivasankar/">FaceBook</a><br>
                  <a href ="#">Twitter</a><br>
              </div>
              <div class="col-md-4 logo">
                  <img src="./assets/footer.png" class="" alt="first img">
              </div>
              <div class="col-md-4 address">
                  <h3>QUEENSCARE</h3>
                  <p>#3b, Rajiv Gandhi street,<br>
                  Edayarpalayam,<br>
                  Coimbatore.<br>
                  Tamil Nadu, India.<br>
                  +91-97915 99900<br>
                  enquiries@atomgroups.com <br>
                  hello@atomgroups.com<br>
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 social">
              <a href = "www.facebook.com/sivasankar/" class = "btn"><i class="fa fa-facebook"></i></a>
              <a href = "#" class = "btn"><i class="fa fa-whatsapp"></i></a>
              <a href = "#" class = "btn"><i class="fa fa-instagram"></i></a>
              <a href = "#" class = "btn"><i class="fa fa-google-plus"></i></a>
              <a href = "#" class = "btn"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
          <br>
          <hr>
          
          <div class="row">
            <div class="col-md-12 copy">
              <p>copyrights@2019</p>
            </div>
          </div>
    </div>
</section>