<section class ="about" id ="about">
  <div class="container">
    <div class="about-content">
      <h2>OUR VISION</h2>
      <p>
        Build responsive, mobile-first projects 
        on the web with the world’s most popular front-end component library.
        Bootstrap is an open source toolkit for developing 
        with HTML, CSS, and JS. Quickly prototype your ideas
        or build your entire app with our Sass variables and mixins,
        responsive grid system, extensive prebuilt components, 
        and powerful plugins built on jQuery.
        Build responsive, mobile-first projects 
        on the web with the world’s most popular front-end component library.
        Bootstrap is an open source toolkit for developing 
        with HTML, CSS, and JS. Quickly prototype your ideas
        or build your entire app with our Sass variables and mixins,
        responsive grid system, extensive prebuilt components, 
        and powerful plugins built on jQuery.
      </p>
    </div>
    <div class="iso-logo">
      <h2>OUR PRODUCT</h2>
      <img src="./assets/footer.png" class="img-fluid" alt="third img">
    </div>
    <div class="about-founder">
      <h2>FOUNDER</h2>
      <p>
          Thirty years of experience in textile industry and 4 years of experience in the field of sanitary napkins.
           And sound in technical aspects of machinery, production, maintenance and management.
      </p>
    </div>
    <div class="founder-img">
      <img src="./assets/founder.jpg" class="img-fluid" alt="third img">
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<hr>