<section class="container-fluid" id ="product">
  <section id="product1">
    <div class="pic_1">
      <img src="./assets/fea1.jpg" class="img-fluid" alt="first img">
    </div>
    <div class="content_1">
        <h4>●	Quick Absorption Gel Technology & Fast Drying Net Cover</h4>
      <p>Queenscare concerns about quick absorption which provides dry feel. It helps to avoid 
        rashes and tickles. One menstrual cycle discharges   about 80ml to 140 ml of blood.Our product, 
        Queens care has the capacity to absorb about 100ml of women's discharge without any discomforts.</p>
        <h4>●	Even Spreading & Enhancement of  Pleasant Feel</h4>
      <p>Even Spreading of Blood helps to feel comfortable, which also help giving a healthy feel to women of various age. 
        Our product is non irritant type and serves the best to give a pleasant usage, every time.</p>
        <h4>●	Perfect Wings for Best Fixation.</h4>
      <p>Queenscare product is designed with extra-large wings to make sure that the pad remains in the exact position 
        where it is initially Fixed.</p>
        <h4>●	Firm  Fixation</h4>
        <p>In Queens care ultra-thin Sanitary napkin, HMA of high quality adhesive is used for a longer life and strong fixation.</p>
    </div>
  </section>

  <section id="product2">
      <div class="pic_2">
        <img src="./assets/fea2.jpg" class="img-fluid" alt="sec img">
      </div>
      <div class="content_2">
        <h4>●	Triple Folded Pads</h4>
        <p>Queenscare ultra-Thin Sanitary Napkin has a Tri fold form which is easy to carry.</p>
      </div>
    </section>

    <section id="product3">
        <div class="pic_3">
          <img src="./assets/fea3.jpg" class="img-fluid" alt="third img">
        </div>
        <div class="content_3">
            <h4>●	ULTRA THIN ADVANTAGE OVER COTTON/WOOD PULP  </h4>
          <p>Wood  pulp or Cotton  has  the  nature  of  holding  liquids by its nature and  on little  pressure it  lets out  the  liquid , 
            resulting  in  rashes and itching. Ultra thin pads are best in absorption and Holding the discharge.</p>
            <h4>●	NON WOVEN  TOP SHEET  Vs  DRY NET TOP SHEET</h4>
          <p>Non-Woven top sheets have less wet tearing strength and holds wetness,         
            resulting in discomfort whereas Dry net top sheet has good wet tearing strength and never retain wetness compared to Nonwovens.</p>
            <h4>●	Why GEL Technology?</h4>
          <p>GEL Technology helps to hold large amount of discharge in Safe manner and 
            never leaks out on pressure. It avoids itching and rashes. Thanks to Gel technology!</p>
        </div>
      </section>
</section>
<br>
<br><br><br><br>
<hr>
